<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width== device width, initial-scale=1.0">
    <meta  http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title> Voxel Verse</title>
  <link rel="stylesheet" href="../stylesheets/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav id="navbar">
    <div id="logo">
      <img src="../images/logo.jpg" alt="Voxel Verse" id="src">
    </div>
    <ul>
      <!-- <li class="class"><a href="../index/index.html">Home</a></li> -->
      <li class="class"><a href="#">Characters</a></li>
      <li class="class"><a href="../login/login.html">Log in</a></li>
      <li class="class"><a href="../Sign Up/signup.html">Sign up</a></li>
      <!-- <li class="class"><a href="#">Contact Us</a></li> -->
    </ul>
  </nav>
  <section id="home">
    <h1 class="h-primary">voxel verse</h1>
    <p><b>Artspace Unleashed.</b></p>
    <p>Download, Upload, and Customize Voxel Models</p>
    <div class="button-container">
      <a class="button" href="/login">Log In</a>
      <a class="button" href="/register">Sign Up</a>
    </div>

  </section>
  <!-- 2nd slide -->
  <div class="container">
    <div class="image-container">
      <img src="../images/2nd.jpg" alt="Voxel Art" class="responsive-image">
    </div>
    <div class="text-container">
      <h2>Igniting Creativity with 3D Characters.</h2>
      <p>
        Bring your creativity to life with captivating voxel art—easily create, customize,
        and share unique 3D models for games, animations, and immersive experiences.
      </p>
    </div>
  </div>
  <!-- 3rd slide -->
  <div class="container3">
    <div class="text-container3">
      <h3>Your Canvas, Your World</h3>
      <p>Unleash your artistic vision in Voxel Verse. Whether you're crafting stunning landscapes or playful characters,
        our platform offers the tools to bring your creativity to life. Build block by block, and watch your world
        take shape. Your journey into 3D voxel art starts here.</p>
    </div>
    <div class="image-container3">
      <img src="../images/3rd slide.jpg" alt="Descriptive Alt Text" class="responsive-image3">
    </div>
  </div>
  <!-- 4th slide -->
  <div class="container4">
    <div class="image-container4">
      <img src="../images/panel4.jpg" alt="Voxel Art" class="responsive-image">
    </div>
    <div class="text-container4">
      <h4>Export for Any Project</h4>
      <p>
        Download characters and animations in multiple formats, ready to use in motion graphics, video games,
        film, or illustration. Whether you just need one animation or a hundred, export optimizations
        will keep your projects light and efficient.
      </p>
    </div>

</body>

</html>