<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voxel Verse - Character Selection</title>
    <link rel="stylesheet" href="../stylesheets/home.css" />
  </head>

  <body>
    <!-- <header>
    <h1>Voxel Verse</h1>
  </header> -->
    <div class="container">
      <div class="main-content">
        <section class="character-list">
          <input
            type="text"
            placeholder="Search characters..."
            class="search-bar"
          />
          <div class="character-card-grid">
            <div class="character-card">
              <img src="path-to-character1.jpg" alt="Character 1" width="300" />
              <p>Character 1</p>
            </div>
            <div class="character-card">
              <img src="path-to-character2.jpg" alt="Character 2" width="300" />
              <p>Character 2</p>
            </div>
            <div class="character-card">
              <img src="path-to-character3.jpg" alt="Character 3" />
              <p>Character 3</p>
            </div>
            <div class="character-card">
              <img src="path-to-character4.jpg" alt="Character 4" />
              <p>Character 4</p>
            </div>
            <div class="character-card">
              <img src="path-to-character5.jpg" alt="Character 5" />
              <p>Character 5</p>
            </div>
            <div class="character-card">
              <img src="path-to-character6.jpg" alt="Character 6" />
              <p>Character 6</p>
            </div>
            <div class="character-card">
              <img src="path-to-character7.jpg" alt="Character 7" />
              <p>Character 7</p>
            </div>
            <div class="character-card">
              <img src="path-to-character7.jpg" alt="Character 8" />
              <p>Character 8</p>
            </div>
            <div class="character-card">
              <img src="path-to-character7.jpg" alt="Character 9" />
              <p>Character 9</p>
            </div>
            <div class="character-card">
              <img src="path-to-character7.jpg" alt="Character 10" />
              <p>Character 10</p>
            </div>
          </div>
        </section>
        <section class="character-preview">
          <h2>Character Preview</h2>
          <div class="preview-model"></div>
          <button class="action-btn">Download</button>
        </section>
      </div>
    </div>
  </body>
</html>
